<google-map height="80vh"
            width="100%"
            [center]="center"
            [zoom]="3.5">

  <map-marker-clusterer [imagePath]="markerClustererImagePath" [maxZoom]="14">
    <map-marker #marker="mapMarker"
                *ngFor="let aircraft of aircrafts; let i = index"
                [position]="getPositionOfAircraft(aircraft)"
                [options]="markerOptions"
                (mapClick)="openInfoWindow(marker, aircraft)"
    ></map-marker>
  </map-marker-clusterer>

  <map-info-window style="color: black">{{clickedAircraft ? clickedAircraft.callsign : ""}}</map-info-window>

</google-map>
