<google-map height="80vh"
            width="100%"
            [center]="center"
            [zoom]="5">

  <map-marker #marker="mapMarker"
              *ngFor="let aircraft of aircrafts"
              [position]="{lat: aircraft.latitude, lng: aircraft.longitude}"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker, aircraft)"
  ></map-marker>

  <map-info-window class="map-info">
    <div *ngIf="clickedAircraft">
      <h1 [textContent]="clickedAircraft.callsign"></h1>
      <p [textContent]="'Icao24: ' + clickedAircraft.icao24">{{'<b>text</b>'}}</p>
      <p [textContent]="'Origin: ' + clickedAircraft.origin_country"></p>
      <p [textContent]="'Height: ' + clickedAircraft.baro_altitude + 'm'"></p>
      <p [textContent]="'On ground : ' + clickedAircraft.on_ground"></p>
      <p [textContent]="'Velocity: ' + clickedAircraft.velocity + 'm/s'"></p>
      <button (click)="markAircraft(clickedAircraft.icao24)">Save flight</button>
      <button style="display: block">Get aircraft flights</button>
    </div>
  </map-info-window>

</google-map>
