<h1 class="pb-3" style="font-weight: bold; text-align: center;">LOG IN</h1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <p *ngIf="error">Fehler, Nutzername oder Password falsch</p>
  <div class="row mb-2">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" required>
      <mat-error *ngIf="loginForm.controls.userName.invalid">{{getErrorMessage(loginForm.controls.userName)}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row mb-3">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" required>
      <mat-error *ngIf="loginForm.controls.password.invalid">{{getErrorMessage(loginForm.controls.password)}}</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" mat-flat-button color="primary" [disabled]="loading">
      <mat-spinner [diameter]="24" [strokeWidth]="4" *ngIf="loading"></mat-spinner>
      <span *ngIf="!loading">Login</span>
    </button>
  </div>
</form>
