<mat-toolbar>
  <!--<span>Aircraft Tracker</span>-->
  <!--<span><img src="/content/images/Aircraft Tracker Logo.svg" style="width: 100%; height: 100px;" /></span>-->
  <span></span>
  <button mat-button [routerLink]="['/']"><img src="/content/images/Aircraft Tracker Logo without globe.svg" style="width: 100%; height: 50px;" /></button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button [routerLink]="['/login']"><mat-icon>login</mat-icon></button>
  <button mat-icon-button [routerLink]="['/register']"><mat-icon>person_add</mat-icon></button>
  <button mat-icon-button [routerLink]="['/logout']"><mat-icon>logout</mat-icon></button>
</mat-toolbar>

<!--<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Aircraft Tracker</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/tracker']">Tracker</a>
        </li>
      </ul>
      <app-login-menu></app-login-menu>
    </div>
  </div>
</nav>
  </header>-->
