/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; }

/* Google maps style */

.gm-style .gm-style-iw-c {
  background-color: #373737;
}

.gm-style-iw-tc {
  filter: drop-shadow(0 4px 2px rgba(0,0,0,.4)) !important;
}

.gm-style-iw-tc::after {
  background: #373737 !important;
}
